<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityId</key>
		<integer>828</integer>
		<key>des</key>
		<string></string>
		<key>id</key>
		<integer>3</integer>
		<key>imageUrl</key>
		<string>http://file.manytu.com/source/2014/11/07/20141107205030092.jpg</string>
		<key>operateTime</key>
		<integer>1415861250000</integer>
		<key>operateUser</key>
		<integer>1</integer>
		<key>provinceId</key>
		<integer>1</integer>
		<key>status</key>
		<integer>1</integer>
		<key>title</key>
		<string>北京最好的围棋体验课</string>
		<key>type</key>
		<integer>2</integer>
		<key>typeId</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<integer>828</integer>
		<key>des</key>
		<string></string>
		<key>id</key>
		<integer>1</integer>
		<key>imageUrl</key>
		<string>http://file.manytu.com/source/2014/11/07/20141107205008957.jpg</string>
		<key>operateTime</key>
		<integer>1415861242000</integer>
		<key>operateUser</key>
		<integer>1</integer>
		<key>provinceId</key>
		<integer>1</integer>
		<key>status</key>
		<integer>1</integer>
		<key>title</key>
		<string>英孚英语冬令营即将火热来袭！让孩子专心学，尽情玩！</string>
		<key>type</key>
		<integer>2</integer>
		<key>typeId</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<integer>828</integer>
		<key>des</key>
		<string></string>
		<key>id</key>
		<integer>2</integer>
		<key>imageUrl</key>
		<string>http://file.manytu.com/source/2014/11/07/20141107204954985.jpg</string>
		<key>operateTime</key>
		<integer>1415861225000</integer>
		<key>operateUser</key>
		<integer>1</integer>
		<key>provinceId</key>
		<integer>1</integer>
		<key>status</key>
		<integer>1</integer>
		<key>title</key>
		<string>全国青少年网络英语展示交流活动</string>
		<key>type</key>
		<integer>2</integer>
		<key>typeId</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
