<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>7</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>19</integer>
				<key>typeName</key>
				<string>英语</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>20</integer>
				<key>typeName</key>
				<string>日语</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>21</integer>
				<key>typeName</key>
				<string>法语</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>22</integer>
				<key>typeName</key>
				<string>俄语</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>23</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>7</integer>
		<key>typeName</key>
		<string>语言交流</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>8</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>24</integer>
				<key>typeName</key>
				<string>素描</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>25</integer>
				<key>typeName</key>
				<string>油画</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>26</integer>
				<key>typeName</key>
				<string>漫画</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>27</integer>
				<key>typeName</key>
				<string>儿童绘画</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>28</integer>
				<key>typeName</key>
				<string>国画</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>29</integer>
				<key>typeName</key>
				<string>创意美术</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>30</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>8</integer>
		<key>typeName</key>
		<string>美术绘画</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>9</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>31</integer>
				<key>typeName</key>
				<string>古筝</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>32</integer>
				<key>typeName</key>
				<string>古琴</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>33</integer>
				<key>typeName</key>
				<string>笛子</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>34</integer>
				<key>typeName</key>
				<string>洞箫</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>35</integer>
				<key>typeName</key>
				<string>二胡</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>36</integer>
				<key>typeName</key>
				<string>琵琶</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>37</integer>
				<key>typeName</key>
				<string>葫芦丝</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>38</integer>
				<key>typeName</key>
				<string>钢琴</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>39</integer>
				<key>typeName</key>
				<string>吉他</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>40</integer>
				<key>typeName</key>
				<string>小提琴</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>41</integer>
				<key>typeName</key>
				<string>扬琴</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>42</integer>
				<key>typeName</key>
				<string>鼓</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>43</integer>
				<key>typeName</key>
				<string>尤克里里</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>44</integer>
				<key>typeName</key>
				<string>大提琴</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>45</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>9</integer>
		<key>typeName</key>
		<string>乐器演奏</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>10</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>46</integer>
				<key>typeName</key>
				<string>芭蕾舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>47</integer>
				<key>typeName</key>
				<string>拉丁舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>48</integer>
				<key>typeName</key>
				<string>民族舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>49</integer>
				<key>typeName</key>
				<string>街舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>50</integer>
				<key>typeName</key>
				<string>爵士舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>51</integer>
				<key>typeName</key>
				<string>古典舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>52</integer>
				<key>typeName</key>
				<string>现代舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>53</integer>
				<key>typeName</key>
				<string>音乐</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>54</integer>
				<key>typeName</key>
				<string>瑜伽</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>55</integer>
				<key>typeName</key>
				<string>芭蕾舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>56</integer>
				<key>typeName</key>
				<string>肚皮舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>57</integer>
				<key>typeName</key>
				<string>中国舞</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>58</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>10</integer>
		<key>typeName</key>
		<string>声乐舞蹈</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>11</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>59</integer>
				<key>typeName</key>
				<string>表演</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>60</integer>
				<key>typeName</key>
				<string>朗诵</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>61</integer>
				<key>typeName</key>
				<string>主持</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>62</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>11</integer>
		<key>typeName</key>
		<string>模特演艺</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>12</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>63</integer>
				<key>typeName</key>
				<string>游泳</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>64</integer>
				<key>typeName</key>
				<string>婴儿运动</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>65</integer>
				<key>typeName</key>
				<string>体操</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>66</integer>
				<key>typeName</key>
				<string>武术</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>67</integer>
				<key>typeName</key>
				<string>球类</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>68</integer>
				<key>typeName</key>
				<string>围棋</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>69</integer>
				<key>typeName</key>
				<string>轮滑</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>70</integer>
				<key>typeName</key>
				<string>体能</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>71</integer>
				<key>typeName</key>
				<string>象棋</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>72</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>12</integer>
		<key>typeName</key>
		<string>体育运动</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>13</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>73</integer>
				<key>typeName</key>
				<string>机器人</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>74</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>13</integer>
		<key>typeName</key>
		<string>科学技术</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>14</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>75</integer>
				<key>typeName</key>
				<string>脑神经开发</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>76</integer>
				<key>typeName</key>
				<string>幼儿托班</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>77</integer>
				<key>typeName</key>
				<string>音乐启蒙</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>78</integer>
				<key>typeName</key>
				<string>多元智能</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>79</integer>
				<key>typeName</key>
				<string>趣味数学</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>80</integer>
				<key>typeName</key>
				<string>乐高</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>81</integer>
				<key>typeName</key>
				<string>积木</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>82</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>14</integer>
		<key>typeName</key>
		<string>亲子早教</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>15</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>83</integer>
				<key>typeName</key>
				<string>硬笔书法</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>84</integer>
				<key>typeName</key>
				<string>软笔书法</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>85</integer>
				<key>typeName</key>
				<string>篆刻</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>86</integer>
				<key>typeName</key>
				<string>国学</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>87</integer>
				<key>typeName</key>
				<string>蒙学</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>88</integer>
				<key>typeName</key>
				<string>礼仪</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>89</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>15</integer>
		<key>typeName</key>
		<string>国学书法</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>16</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>90</integer>
				<key>typeName</key>
				<string>陶艺</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>91</integer>
				<key>typeName</key>
				<string>厨艺</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>92</integer>
				<key>typeName</key>
				<string>茶艺</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>93</integer>
				<key>typeName</key>
				<string>剪纸</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>94</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>16</integer>
		<key>typeName</key>
		<string>手工才艺</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>17</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>95</integer>
				<key>typeName</key>
				<string>自信力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>96</integer>
				<key>typeName</key>
				<string>社交力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>97</integer>
				<key>typeName</key>
				<string>情绪力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>98</integer>
				<key>typeName</key>
				<string>适应力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>99</integer>
				<key>typeName</key>
				<string>注意力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>100</integer>
				<key>typeName</key>
				<string>记忆力</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>101</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>17</integer>
		<key>typeName</key>
		<string>情商训练</string>
	</dict>
	<dict>
		<key>courseTypes</key>
		<array>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>18</integer>
				<key>typeName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>courseTypes</key>
				<array/>
				<key>id</key>
				<integer>102</integer>
				<key>typeName</key>
				<string>其他</string>
			</dict>
		</array>
		<key>id</key>
		<integer>18</integer>
		<key>typeName</key>
		<string>其他</string>
	</dict>
</array>
</plist>
