<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>areaEname</key>
		<string>fengtai</string>
		<key>areaName</key>
		<string>丰台区</string>
		<key>id</key>
		<string>186</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>chaontang</string>
		<key>areaName</key>
		<string>朝阳区</string>
		<key>id</key>
		<string>191</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>haidian</string>
		<key>areaName</key>
		<string>海淀区</string>
		<key>id</key>
		<string>192</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>changping</string>
		<key>areaName</key>
		<string>昌平区</string>
		<key>id</key>
		<string>200</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>xicheng</string>
		<key>areaName</key>
		<string>西城区</string>
		<key>id</key>
		<string>219</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>daxing</string>
		<key>areaName</key>
		<string>大兴区</string>
		<key>id</key>
		<string>223</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>tongzhou</string>
		<key>areaName</key>
		<string>通州区</string>
		<key>id</key>
		<string>224</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>dongcheng</string>
		<key>areaName</key>
		<string>东城区</string>
		<key>id</key>
		<string>232</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>xuanwu</string>
		<key>areaName</key>
		<string>宣武区</string>
		<key>id</key>
		<string>248</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>shijingshan</string>
		<key>areaName</key>
		<string>石景山区</string>
		<key>id</key>
		<string>249</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>chongwen</string>
		<key>areaName</key>
		<string>崇文区</string>
		<key>id</key>
		<string>293</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>shunyi</string>
		<key>areaName</key>
		<string>顺义区</string>
		<key>id</key>
		<string>294</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>fangshan</string>
		<key>areaName</key>
		<string>房山区</string>
		<key>id</key>
		<string>307</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>mentougou</string>
		<key>areaName</key>
		<string>门头沟区</string>
		<key>id</key>
		<string>398</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>pinggu</string>
		<key>areaName</key>
		<string>平谷区</string>
		<key>id</key>
		<string>399</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>huairou</string>
		<key>areaName</key>
		<string>怀柔区</string>
		<key>id</key>
		<string>400</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>miyunxi</string>
		<key>areaName</key>
		<string>密云县</string>
		<key>id</key>
		<string>401</string>
		<key>level</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaEname</key>
		<string>yanqing</string>
		<key>areaName</key>
		<string>延庆县</string>
		<key>id</key>
		<string>402</string>
		<key>level</key>
		<string>3</string>
	</dict>
</array>
</plist>
