<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>亲子早教</string>
		<key>icon</key>
		<string>btn_home_education</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美术绘画</string>
		<key>icon</key>
		<string>btn_home_paint</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国学书法</string>
		<key>icon</key>
		<string>btn_home_hand</string>
	</dict>
	<dict>
		<key>title</key>
		<string>乐器演奏</string>
		<key>icon</key>
		<string>btn_home_instrument</string>
	</dict>
	<dict>
		<key>title</key>
		<string>声乐舞蹈</string>
		<key>icon</key>
		<string>btn_home_music</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体育运动</string>
		<key>icon</key>
		<string>btn_home_camp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情商训练</string>
		<key>icon</key>
		<string>btn_home_puzzle</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>icon</key>
		<string>btn_home_all</string>
	</dict>
</array>
</plist>
